.basic-info-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.basic-info-section__field {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 1rem;

  input {
    padding: 0.25rem;
    width: 100%;
    font-size: 1rem;
  }

  label {
    display: inline-block;
    padding-bottom: 0.25rem;
  }
}
